:root {
    --bg-color:#111111;
    --font-color:#f1f1f1;
    --rgba-white:rgba(255, 255, 255, 0.5);
    --font-title:'Gloock', serif;
    --font-normal:'Lato', sans-serif;
}

body{
    background-image:url('https://zupimages.net/up/23/08/5xe6.jpg');
    background-size:cover;
    background-attachment: fixed;
    color: var(--font-color);
    margin:0;
}

/*table{
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid #e0e0e0;
    margin: 20px;
} */

th, td {
    text-align: left;
    padding: 8px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #222;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* ---------- ALL TITLES ---------- */

h1 {
    text-align: center;
    border-bottom:2px solid #111;
    font:50px var(--font-title);
    color: #fff;
    padding: 18px;
    height: 50px;
    line-height: 45px;
    letter-spacing: 10px;
    position: absolute;
    left: 8%;
    top: 33%;
    width: 80%;
    text-transform:uppercase;
}
h2 {
    text-align: center;
    color: #fff;
    padding: 18px;
    height: 50px;
    line-height: 45px;
    font-size: 70px;
    letter-spacing: 10px;
    position: absolute;
    left: 8%;
    top: 10%;
    width: 80%;
    text-transform: uppercase;
}
h3 {
    width:15%;
    background:#111111;
    color:#f1f1f1;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size:70px;
    text-align:center;
    margin:0 auto;
    line-height:120px;
}
h4 {
    color: var(--font-color);
    font: 20px var(--font-normal);
    background-color: var(--bg-color);
    padding: 10px;
    border-radius: 10px;
    text-transform: lowercase;
    letter-spacing: 2px;
    text-align: center;
    font-weight: 100;
}
h5 {
    text-align: center;
    border-bottom: 2px solid #111;
    font: 50px var(--font-title);
    color: #fff;
    letter-spacing: 10px;
    text-transform: uppercase;
}
h6 {
    color: var(--font-color);
    background-color: #7DACCC;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    margin: 10px -10px;
    font: 15px var(--font-normal);
}

/* ---------- LINKS & TEXT FORM ---------- */

a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: var(--font-color);
}
p {
    text-align: center;
    background-color: #111;
    color: #fff;
    padding: 18px;
    line-height: 45px;
    font: 15px var(--font-normal);
    position: absolute;
    left: 8%;
    top: 48%;
    margin: 0 auto;
    width: 80%;
}

/* ---------- NAVBAR ---------- */
nav {
    width: 100%;
    background-color: var(--bg-color);
    overflow: hidden;
}
nav a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}
nav a:hover {
    background-color: #000;
}
.active {
    background-color: #315E7D;
}
@media screen and (max-width: 500px) {
    nav a {
        float: none;
        display: block;
    }
}

ul {
    list-style: none;
}

/* ---------- FORMULAIRE DU LOG IN ---------- */

.formulary {
    border: 3px solid #D6D6D6;
    width: 80%;
    position: absolute;
    top: 22%;
    left: 8%;
    margin: 0 auto;
    color: var(--bg-color);
    background-color: var(--font-color);
    padding: 10px;
}
input#inputEmail, input#inputPassword {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: var(--rgba-white);
    border: none;
    text-transform: lowercase;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
.formulary > label {
    font: 15px var(--font-title);
    letter-spacing: 2px;
    border-bottom: 1px var(--bg-color) solid;
    padding: 0 10px;
    height: 25px;
}
.remember_me {
    text-align:center;
}
button {
    background-color: #7DACCC;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
    width: 100%;
    transition-duration: 0.5s;
}
button:hover {
    background-color:#315E7D;
    transition-duration: 0.5s;
}
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}
img.avatar {
    width: 200px;
    height:200px;
    border-radius: 100%;
    object-fit:cover;
}
.sign {
    text-align: center;
    background-color: var(--bg-color);
    color: var(--font-color);
    padding: 18px;
    border-radius:10px;
    height: 50px;
    margin: 10px 0;
    line-height: 45px;
    font-size: 25px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

/* ---------- VOIR PROFIL ---------- */

.blockProfile {
    width: 80%;
    position: absolute;
    margin: 0 25px 0 0;
    left: 8%;
    top: 32%;
    padding: 18px;
    background-color: var(--font-color);
    border-radius: 10px;
    overflow: hidden;
}
.blockProfile:before {
    position: absolute;
    content: '\ea07';
    font-family: 'cappuccicons';
    font-size: 435px;
    color: rgba(255, 255, 255, 0.8);
    right: 0;
    top: -100px;
    /* z-index: -1; */
}
.blockProfile table {
    width: 100%;
    margin: 0 0 10px 0;
    border: none;
}
.blockProfile span {
    font: 12px var(--font-normal);
    color: var(--font-color);
    margin: 0 25px 0 0;
    border-radius: 10px;
    padding: 7px 70px;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    background-color: var(--bg-color);
    display: inline-block;
}
.blockProfile td {
    padding: 8px;
    color: var(--bg-color);
    text-transform: lowercase;
    border: 1px rgba(255, 255, 255, 0.8) solid;
}

/* ---------- MODIFICATION PROFIL ---------- */
.edit_profile {
    width: 82%;
    position: absolute;
    top: 24%;
    left: 8%;
}
#user_edit{
    background-color: var(--font-color);
    text-align: left;
    color: var(--bg-color);
    padding: 10px;
    margin: 40px 0 0 0;
    font: 13px var(--font-normal);
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
#user_edit:before {
    position: absolute;
    content: '\ea3e';
    font-family: 'cappuccicons';
    font-size: 550px;
    color: rgba(90,90,90, 0.2);
    right: -105px;
    top: 20px;
    z-index: 0;
}
#user_edit > div {
    padding: 10px 0;
}
#user_edit > div label {
    font: 15px var(--font-title);
    letter-spacing: 2px;
    border-bottom: 1px var(--bg-color) solid;
    padding: 0 10px;
    height: 25px;
}
input#user_edit_pseudo, input#user_edit_firstname, input#user_edit_lastname, input#user_edit_email, input#user_edit_phone {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: var(--rgba-white);
    border: none;
    text-transform: lowercase;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

/* ---------- MODIFICATION MOT DE PASSE ---------- */
#edit_password {
    background-color: var(--font-color);
    color: var(--bg-color);
    padding: 10px;
    margin: 40px 0 0 0;
    text-align: left;
    font: 13px var(--font-normal);
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
#edit_password > div {
    padding: 10px 0;
}
#edit_password > div label {
    font: 15px var(--font-title);
    letter-spacing: 2px;
    border-bottom: 1px var(--bg-color) solid;
    padding: 0 10px;
    height: 25px;
}
input#edit_password_plainPassword {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: var(--rgba-white);
    border: none;
    text-transform: lowercase;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

/* ---------- FORMULAIRE D'INSCRIPTION ---------- */

.register {
    width: 80%;
    background-color: var(--font-color);
    top: 26%;
    left: 8%;
    padding: 10px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
}
.register:before {
    position: absolute;
    content: '\ec40';
    font-family: 'cappuccicons';
    font-size: 555px;
    color: rgba(90,90,90, 0.2);
    right: -65px;
    top: 0;
    /* z-index: -1; */
}
div#registration_form > div label {
    font: 15px var(--font-title);
    letter-spacing: 2px;
    color:var(--bg-color);
    border-bottom: 1px var(--bg-color) solid;
    padding: 0 10px;
    height: 25px;
}
select#registration_form_campus, input#registration_form_pseudo, input#registration_form_email, input#registration_form_firstname, input#registration_form_lastname, input#registration_form_phone, input#registration_form_plainPassword {
    width: 100%;
    padding: 7px;
    font: 12px var(--font-normal);
    margin: 8px 0;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    border: none;
    text-transform: lowercase;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
#registration_form {
    position: relative;
    z-index: 10;
}

/* ---------- CRÉER UNE SORTIE ---------- */
.create {
    width: 80%;
    position: absolute;
    top: 27%;
    left: 9%;
    overflow: hidden;
    background-color: var(--font-color);
    border-radius: 10px;
    padding: 10px;
}
#trip {
    position:relative;
}
.create:before {
    position: absolute;
    content: '\eca9';
    font-family: 'cappuccicons';
    font-size: 555px;
    color: rgba(90,90,90, 0.2);
    right: -65px;
    top: 0;
    /* z-index: -1; */
}
label.required, label.trip_informations {
    font: 15px var(--font-title);
    letter-spacing: 2px;
    color:var(--bg-color);
    border-bottom: 1px var(--bg-color) solid;
    padding: 0 10px;
    height: 25px;
}
select#trip_place, input#trip_name, input#trip_startDateTime, input#trip_duration, input#trip_deadline, input#trip_maxRegistration {
    width: 100%;
    padding: 7px;
    font: 12px var(--font-normal);
    margin: 8px 0;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    border: none;
    text-transform: lowercase;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}
textarea#trip_informations {
    width: 1095px;
    height: 60px;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    overflow: auto;
}

#registration_form {
    position: relative;
    z-index: 10;
}

/* ---------- AFFICHAGE D'UNE SORTIE ---------- */

.affichage {
    width: 80%;
    margin: 160px auto 25px auto;
    left: 8%;
    top: 25%;
    padding: 18px;
    background-color: var(--font-color);
    border-radius: 10px;
    overflow: hidden;
}
.affichage table {
    width: 100%;
    margin: 0 0 10px 0;
    border: none;
    position: relative;
}
.affichage span {
    font: 12px var(--font-normal);
    color: var(--font-color);
    margin: 0 25px 0 0;
    border-radius: 10px;
    padding: 7px 70px;
    text-transform: uppercase;
    text-align: center;
    width: 125px;
    background-color: var(--bg-color);
    display: inline-block;
}
.affichage td {
    padding: 8px;
    color: var(--bg-color);
    text-transform: lowercase;
    border: 1px rgba(255, 255, 255, 0.8) solid;
}

select#campus, input#nameTrip, input#startDateTime, input#deadline {
    width: 100%;
    padding: 7px;
    font: 12px var(--font-normal);
    margin: 8px 0;
    display: inline-block;
    background-color: rgba(255,255,255,0.8);
    border: none;
    text-transform: lowercase;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

input#tripsOrganized, input#tripsRegisted, input#tripsNotRegisted, input#tripsPassed {
    width: 100%;
    padding: 7px;
    font: 12px var(--font-normal);
    margin: 0 auto;
    display: inline-block;
    border: none;
    text-transform: lowercase;
    border-radius: 10px;
    box-sizing: border-box;
    position: relative;
}

/* ---------- EDITER UNE SORTIE ---------- */

.edit_trip {
    width: 80%;
    position: absolute;
    background-color: var(--font-color);
    padding: 10px;
    border-radius: 10px;
    top: 28%;
    left: 8%;
}

/* ---------- LISTE DES SORTIES ---------- */

.infoTrip {
    width: 80%;
    margin: 10px auto;
}
#filters {
    width: 80%;
    margin: 0 auto;
    background-color: var(--font-color);
    padding: 10px;
}

.allTrip {
    background-color: rgba(0,0,0,0.5);
    padding: 5px;
    margin: 10px 0 0 0;
}
.allTrip table {
    margin: 20px auto;
    width: 100%;
}

/* ----------------------------------------------- */


img {
    max-width: 100%;
}

label{
    display: block;
    color:var(--bg-color);
    text-transform:uppercase;
}

input{
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 100%;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    list-style: none;
    padding-left: 0;
}

nav li {
    margin-right: 1rem;
}

/* ---------- FOOTER ---------- */

.credit {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    background-color: var(--bg-color);
}