{% extends 'base.html.twig' %}

{% block body %}
    {# Il manquera la date & heure de la sortie / la deadline / longitude / latitude #}
<form>
    <h1>Annuler une sortie</h1>
    <h6>Name :</h6>
    <div class="trip_element">{{ trip.name }}</div>
    <h6>Start of the Trip :</h6>
    <div class="trip_element">{{ trip.startDateTime | date("d/m/Y") }}</div>
    <h6>Campus :</h6>
    <div class="trip_element">{{ trip.maxRegistration }}</div>
    <h6>Place :</h6>
    <div class="trip_element">{{ trip.place }}</div>
    <h6>Reason :</h6>
    <div class="trip_element">
        <input type="Text">
    </div>
    
    <input type="btn" value="Delete"><a hreh="">
    <input type="btn" value="Cancel"><a href="">

</form>

{% endblock %}