{% extends 'base.html.twig' %}

{% block title %}
    Change Password {{ parent() }}
{% endblock %}

{% block body %}
    <h1>Change Password</h1>
    {{ form_start(editForm) }}
    {{ form_widget(editForm) }}
    <button type="submit" class="btn">Validate</button>
    {{ form_end(editForm) }}
{% endblock %}